body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #2e86de83;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

textarea{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    width: 570px;
    height: 300px;
    resize: none;
    border: none;
    outline: none;
    background-color: #2e86de00;
}

img{
    max-width: 50%;
    display: block;
}

section{
    margin: 0 auto;
    max-width: 1200px;
}

button{
    width: 220px;
    height: 50px;
    border-radius: 32px;
    font-family: 'Inter';
    color: #ffffff;
    font-size: 14pt;
    border: none;
    cursor: pointer;
}

.btns{
    padding: 5px;
    text-align: left;
    margin-left: 20px;
}

#btn1{
    background: linear-gradient(to right,#20bf6b,#26de81);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#btn2{
    margin-left: 20px;
    background: linear-gradient(to right,#eb3b5a,#fc5c65);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.top{
    display: flex;
    padding: 20px;
    margin: 0 auto;
}

.bottom{
    background-color: #ffffff;
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
}

.bottom > div{
    flex: 1 1 500px;
    padding: 20px;
}

.texto{
    text-align: center;
    text-transform: uppercase;
}

/*=====================================================*/
.bottom2{
    height: 260px;
    background-color: #ffffff;
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    margin: 0 auto;
    display: none;
    /*margin-top: -300px;*/
}

.bottom2 > div{
    flex: 1 1 500px;
    padding: 20px;
}

#resultado{
    color: #000000;
    margin: 0 auto;
    width: 700px;
    height: 230px;
}

#copiar{
    position: relative;
    top: 180px;
    left: 100px;
    background: linear-gradient(to right,#3867d6,#4b7bec);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}